@page "/redefinir"
@inject NavigationManager Nav

<MudContainer MaxWidth="MaxWidth.False"
              Class="pa-4"
              Style="width:100%;height:100vh;background:white;overflow-y:auto;">

    <!-- Voltar -->
    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack"
                   OnClick="Voltar"
                   Style="position:absolute;top:20px;left:15px;" />

    <!-- Avatar -->
    <div style="display:flex;justify-content:center;margin-top:40px;">
        <MudImage Src="images/Fox.png" Style="width:100px;" />
    </div>

    <!-- Título -->
    <MudText Typo="Typo.h5" Align="Align.Center"
             Style="font-weight:800;margin-top:15px;color:#D97A00;">
        Redefinir<br />palavra-passe
    </MudText>

    <!-- Campo Nova senha -->
    <MudTextField T="string"
                  Label="Nova palavra-passe"
                  InputType="InputType.Password"
                  Variant="Variant.Outlined"
                  Class="campo mt-4" />

    <MudTextField T="string"
                  Label="Confirmar palavra-passe"
                  InputType="InputType.Password"
                  Variant="Variant.Outlined"
                  Class="campo mt-3" />



    <!-- Botão -->
    <MudButton Variant="Variant.Filled"
               Color="Color.Warning"
               FullWidth="true"
               OnClick="Guardar"
               Style="margin-top:30px;text-transform:none;font-weight:bold;border-radius:10px;padding:12px;">
        A enviar...
    </MudButton>

</MudContainer>

@code {
    void Voltar() => Nav.NavigateTo("/codigo");
    void Guardar() => Nav.NavigateTo("/login");
}

<style>
    .campo .mud-input-root {
        background: #edf4ff !important;
        border-radius: 12px !important;
    }

    .campo input {
        background: transparent !important;
    }
</style>
