<MudDrawer OverlayAutoClose="false" Variant="DrawerVariant.Temporary" Anchor="Anchor.Bottom" Elevation="1" Open="IsOpen" Style="border-top-left-radius:40px;border-top-right-radius:40px">  
    <MudDrawerHeader Style="display:flex;padding-top:20px">  
        <MudLink OnClick="ToggleOpen" Style="text-transform:none;color:black !important;text-decoration:none">Cancelar</MudLink>
        <MudSpacer></MudSpacer>
        <MudText Color="Color.Warning">Filtro</MudText>
        <MudSpacer></MudSpacer>
        <MudLink OnClick="ToggleOpen" Style="text-transform:none;color:black !important;text-decoration:none">Limpar</MudLink>
    </MudDrawerHeader>
    <MudDrawerContainer Style="padding:20px">
        <MudText Style="font-weight:700">Ordernar por</MudText>
        <MudSelect  Variant="Variant.Outlined" T="string" Style="width:100%;margin-left:13px" Placeholder="Seleciona Transação">
            <MudSelectItem T="string">Trocar</MudSelectItem>
            <MudSelectItem T="string">Vender</MudSelectItem>
            <MudSelectItem T="string">Alugar</MudSelectItem>
            <MudSelectItem T="string">Doar</MudSelectItem>
            <MudSelectItem T="string">Pedir</MudSelectItem>
            <MudSelectItem T="string">Serviço</MudSelectItem>
        </MudSelect>
        <MudText Style="font-weight:700;margin-top:20px">Ordernar por</MudText>
        <MudSelect Variant="Variant.Outlined" T="string" Style="width:100%;margin-left:13px" Placeholder="Seleciona Categoria">
            <MudSelectItem T="string">Eletrónica</MudSelectItem>
            <MudSelectItem T="string">Moda e Vestuário</MudSelectItem>
            <MudSelectItem T="string">Comida e Bebida</MudSelectItem>
            <MudSelectItem T="string">Casas / Imovéis</MudSelectItem>
            <MudSelectItem T="string">Carros e Acessórios</MudSelectItem>
            <MudSelectItem T="string">Decoração e Mobiliário</MudSelectItem>
            <MudSelectItem T="string">Brinquedos e Hobbies</MudSelectItem>
            <MudSelectItem T="string">Material de Bricolage e DIY</MudSelectItem>
            <MudSelectItem T="string">Emprego</MudSelectItem>
            <MudSelectItem T="string">Diversos</MudSelectItem>
        </MudSelect>
        <MudText Style="font-weight:700;margin-top:20px">Localização</MudText>
        <div style="display:flex;margin-left:13px;width:auto">
            <MudInput Variant="Variant.Outlined" FullWidth="true" Value="local" Placeholder="Pesquisar"></MudInput>
        </div>
        <div style="display:flex">
            <MudText Style="font-weight:700;margin-top:20px">Distância</MudText>
            <MudSpacer></MudSpacer>
            <MudLink>Ver mapa</MudLink>
        </div>
        <RangeSlider Min="0" Max="100" Step="1" ValueStart="rangeStart" ValueEnd="rangeEnd" ValueChanged="OnRangeChanged"></RangeSlider>
        <p>@rangeStart Km – @rangeEnd Km</p>
        <MudText Style="font-weight:700;margin-top:20px">Especiais</MudText>
        <MudSelect Variant="Variant.Outlined" T="string" Style="width:100%;margin-left:13px" Placeholder="Seleciona Categoria">
            <MudSelectItem T="string">Novos Artigos</MudSelectItem>
            <MudSelectItem T="string">Últimos dias</MudSelectItem>
            <MudSelectItem T="string">Mais vistos</MudSelectItem>
            <MudSelectItem T="string">Mais favoritos</MudSelectItem>
            <MudSelectItem T="string">Perdidos e Achados</MudSelectItem>
        </MudSelect>
        <MudButton Variant="Variant.Filled" FullWidth="true" Style="margin:13px;background-color:#FC8404;color:white;text-transform:none;width:-webkit-fill-available">Aplicar</MudButton>
    </MudDrawerContainer>
</MudDrawer>  

<style>
    .mud-input {
        width:100%;
    }
</style>

@code {
    [Parameter]  
    public bool IsOpen { get; set; } = false;

    public string local { get; set; } = "";

    private double rangeStart = 20;
    private double rangeEnd = 80;

    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

    private async Task ToggleOpen()
    {
        IsOpen = !IsOpen;
        await IsOpenChanged.InvokeAsync(IsOpen);
    }

    private void OnRangeChanged((double start, double end) range)
    {
        rangeStart = range.start;
        rangeEnd = range.end;
    }
}
